/* styles.css */
.introImage1 {
  margin: 10px 10;
  /* Adds spacing at the top and bottom of the image container */
  justify-content: right;
  align-items: right;
  display: flex;
  width: 50px;
  /* Adjust width as needed */
  height: 400px;
  /* Adjust height as needed */
}

.introImage2 {
  margin: 30px 0;
  /* Adds spacing at the top and bottom of the image container */
  justify-content: left;
  align-items: left;
  display: flex;
  width: 50px;
  /* Adjust width as needed */
  height: 300px;
  /* Adjust height as needed */
}

.introImage3 {
  margin: 30px 0;
  /* Adds spacing at the top and bottom of the image container */
  justify-content: right;
  align-items: left;
  display: flex;
  width: 50px;
  /* Adjust width as needed */
  height: 300px;
  /* Adjust height as needed */

}

.header2 {
  margin: 50px;
}

.whoI {
  font-size: 1.2em;
  font-weight: 500;
}